1. create a variable 'city' and assign the name of your favorite city to it. print the variable.

In [3]:
city = "korba"
print(city)

korba

2. print the datatype of the variable 'city'

In [8]:
type(city)

str

3. convert the integer 42 to a string and assign it to a new varible.

In [13]:
a= 42
b = str(a)
print(b)

42

In [15]:
type(b)

str

4. use len() on your name variable and count length of your name

In [18]:
name = "kuldeep"
len(name)

7

5. use "if" statements to check "code" words exist or not in "code square"

In [25]:
txt = "code sqaure"
##print("code" in txt)
if "code" in txt:
    print("yes",  "code exist")
else:
    print("code no exist")

yes code exist