1) demonstrate the use of the following arithmetic operators in Python on any numbers:

In [23]:
##addition
5+4

9

In [5]:
##Subtraction
5-4

1

In [9]:
## Multiplication
5*4

20

In [11]:
##Division
5/4

1.25

In [21]:
##Modulus
50%4

2

In [15]:
##Exponentiation
5**4

625

In [19]:
##Floor Division
50//4

12


2) Write Python expressions using comparison operators (less than, greater than, equal to, not equal to) and evaluate them. Include examples with both numbers and strings

In [26]:
#less than
5<4

False

In [30]:
#equal to
5==5

True

In [28]:
#greater than
5>4

True

In [32]:
#not equal to
5!=5

False

In [36]:
"s"=="s"

True

In [34]:
"s"!="s"

False

3) Create a string variable and use the ' in ' and ' not in ' keywords to check for the presence or absence of a substring within the string EX : " Python Is Powerfull language". & Print the results.

In [39]:
var = " Python Is Powerfull language"
print("Powerfull" in var)

True

In [43]:
print("Powerfull" not in var)

False

4) Define a list with at least three elements. Use a for loop to print each element of the list.

In [46]:
list = ["ks",54,"as"]
for i in list:
    print(i)

ks
54
as

5. Use the range() function to print numbers from 10 to 1 using a for loop.

In [75]:
range(10)

range(0, 10)

In [86]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

6. Create a string variable and demonstrate the following string methods: slicing, negative indexing, converting to uppercase converting to lowercase, stripping whitespace, replacing a substring, and splitting the string.

In [114]:
var = "kuldeep sahu"
var[3:5]

'de'

In [116]:
var[-3]

'a'

In [118]:
var.upper()

'KULDEEP SAHU'

In [120]:
var.lower()

'kuldeep sahu'

In [122]:
var.strip()

'kuldeep sahu'

In [124]:
var.split()

['kuldeep', 'sahu']

In [132]:
var.replace("kuldeep", "lalit")

'lalit sahu'

7. Create a list inside list with at least five elements of different data types. Print the list.

In [171]:
list = ["sf",54,65,["green",24,"blue"],True]
print(list)

['sf', 54, 65, ['green', 24, 'blue'], True]

8) Access and print same item from the list using both positive and negative indexing.

In [144]:
list[4]

True

In [148]:
list[-2][1]

24

9. Modify elements of a list by using the append(), insert(), remove(), pop(), and del methods. Print the list after each operation.

In [169]:
list.append("adil")
print(list)

['sf', 'kuldeep', 'kuldeep', 54, 65, ['green', 24, 'blue'], True, 'adil', 'adil']

In [173]:
list.insert(1,"kuldeep")
print(list)

['sf', 'kuldeep', 54, 65, ['green', 24, 'blue'], True]

In [177]:
list.pop(1)
print(list)

['sf', 54, 65, ['green', 24, 'blue'], True]

In [187]:
del list
print(list)

NameError: name 'list' is not defined

10. Join two lists and print the all item using for loop and also check is "data" present in list using "if else" statement. list_1 = [ 1,2,3,4,"power", True] and list_2= ["one", "two","Three", "Data", False]

In [194]:
 list_1 = [ 1,2,3,4,"power", True]
 list_2= ["one", "two","Three", "Data", False]
 list = list_1+list_2
for i in list:
    print(i)

1
2
3
4
power
True
one
two
Three
Data
False

In [198]:
if "data" in list:
    print("data present")
else: 
     print("data not present")

data not present